<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
    http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
	version="1.0">

	<persistence-unit name="gamemakerpersistence"
		transaction-type="RESOURCE_LOCAL">

		<class>com.webgamemaker.entity.User</class>

		<properties>
			<property name="eclipselink.target-database" value="MySQL" />
			<property name="eclipselink.ddl-generation" value="create-or-extend-tables" />
			<!-- <property name="eclipselink.ddl-generation" value="none" /> -->
			<property name="eclipselink.logging.level" value="INFO" />
			<property name="eclipselink.weaving" value="false" />
			<property name=" eclipselink.jdbc.cache-statements" value="true" />
			<property name="eclipselink.deploy-on-startup" value="true" />
			<property name="eclipselink.connection-pool.node2.min"
				value="2" />
			<property name="eclipselink.connection-pool.node2.max"
				value="50" />
			<property name="eclipselink.cache.shared.default" value="false" />
			<property name="eclipselink.persistence-context.flush-mode"
				value="commit" />
			<!-- Optimization #15 - avoid cost of persist on commit -->
			<property name="eclipselink.persistence-context.persist-on-commit"
				value="false" />

		</properties>
	</persistence-unit>
</persistence>