/*
	The font(s) used for the website.
	To update, visit http://www.google.com/fonts# and select a new font.
	Once selected, copy the resulting @import url and replace the url(s) below.
	DON'T FORGET TO REPLACE ALL REFERENCES TO THE OLD FONT-FAMILY!!!
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,300);

html
{
	background: -webkit-linear-gradient(bottom, rgba(0,1,3,1), rgba(0,10,25,0.75));
    background: -o-linear-gradient(bottom, rgba(0,1,3,1), rgba(0,10,25,0.75));
    background: -moz-linear-gradient(bottom, rgba(0,1,3,1), rgba(0,10,25,0.75));
    background: linear-gradient(to bottom, rgba(0,1,3,1), rgba(0,10,25,0.75));
	
	min-height: 100%;
}

body
{
	min-height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
}